* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

section >.container {
    width: 80vw;
    height: fit-content;
    padding: 2vh;
}

.container.horizontal >.row{
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.column.card {
    width: calc(100%/3);
    flex-direction: column;
    padding: 2px;
}

.column.card img {
    width: 100%;
    display: block;
    margin: auto;
}

.column.card div.img {
    position: relative;
}

.price {
    color: red;
    font-weight: bold;
}

.price .old {
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}



/* STYLE LABELS */

    div.heart {
        background-color: white;
        position: absolute;
        top: 2%;
        right: 0;
    }

    div.labels {
        position: absolute;
        bottom: 8%;
    }

    .label {
        text-align: center;
        font-size: 18px;
        padding: 5px 8px;
    }

    .heart {
        padding: 15px 15px;
    }

    .sustainability {
        background-color: green;
        color: white;
    }

    .discount {
        background-color: red;
        color: white;
    }

/* DEBUG */

.debug .container {
    border: dashed black 1px;
}

.debug .container .column *{
    border: dashed black 1px;
}