* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

section >.container {
    width: 80vw;
    height: fit-content;
    padding: 2vh;
}

.container.horizontal >.row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* STYLE LABELS */

    div.heart {
        background-color: white;
        position: absolute;
        top: 2%;
        right: 0;
    }

    div.labels {
        position: absolute;
        bottom: 8%;
    }

    .label {
        text-align: center;
        font-size: 18px;
        padding: 5px 8px;
    }

    .heart {
        padding: 15px 15px;
    }

    .sustainability {
        background-color: green;
        color: white;
    }

    .discount {
        background-color: red;
        color: white;
    }

    .fa {
        padding: 3px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        color: white;
      }


/* STYLE HEADER */

    header {
        background-color: rgba(255,105,0,255);
    }
        
    header section {
        height: fit-content;
        padding-top: 3vh;
        padding-bottom: 3vh;
        color: white;
    }

    header .container .row {
        justify-content: space-around;
    }

    .col.logo {
        display: block;
        margin: auto;
        width: 40%;
        height: 30px;
        background-image: url(./img/boolean-logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .col.categories *,
    .col.nav * {
        padding: 5px;
    }

    .col.categories,
    .col.nav {
        align-items: center;
        width: 30%;
    }

    .col.categories {
        justify-content: left;
    }

    .col.nav {
        justify-content: end;
    }


/* STYLE MAIN */

    .products.container.horizontal >.row{
        flex-wrap: wrap;
    }

    .column.card {
        width: calc(100%/3);
        flex-direction: column;
        padding: 5px;
    }

    .column.card img {
        width: 100%;
        display: block;
        margin: auto;
    }

    .column.card div.img {
        position: relative;
    }

    .price {
        color: red;
        font-weight: bold;
    }

    .price .old {
        color: black;
        font-weight: normal;
        text-decoration: line-through;
    }




/* HOVER */

    .card.container:hover img.first{
        opacity: 0;
        transition: 0.5s;
    }

    img.first {
        position: absolute;
    }

/* STYLE FOOTER */

    footer {
        background-color: rgba(26,26,26,255);
    }

    footer section {
        height: fit-content;
        padding-top: 3vh;
        padding-bottom: 3vh;
        color: white;
    }

    footer .container .row {
        justify-content: space-between;
    }

    .col.info {
        text-align: start;
        width: 50%;
        line-height: 25px;
    }

    .col.info span:not(:last-child) {
        padding-right: 3px;
        font-size: 15px;
    }

    .col.social {
        text-align: end;
        width: 15%;
    }


/* DEBUG */

.debug .container {
    border: dashed black 1px;
}

.debug .container .column *{
    border: dashed black 1px;
}