/* RESET */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* GENERAL SETTINGS */

    .container {
        max-width: 80vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    section >.container {
        width: 80vw;
        height: fit-content;
        padding: 2vh;
    }

    .container >.row {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .container.horizontal >.row {
        height: fit-content;
    }

    .container.vertical >.row {
        width: fit-content;
        height: 100%;
        flex-direction: column;
    }

/* STYLE HEADER */

    header {
        background-color: rgba(255,105,0,255);
    }
        
    header section {
        height: fit-content;
        padding-top: 3vh;
        padding-bottom: 3vh;
        color: white;
    }

    header .container .row {
        justify-content: space-around;
    }

    .col-logo {
        display: block;
        margin: auto;
        width: 40%;
        height: 30px;
        background-image: url(./img/boolean-logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .col-categories *,
    .col-nav * {
        padding: 5px;
    }

    .col-categories,
    .col-nav {
        align-items: center;
        width: 30%;
    }

    .col-categories {
        justify-content: left;
    }

    .col-nav {
        justify-content: end;
    }


/* STYLE MAIN */

    .products.container.horizontal >.row{
        flex-wrap: wrap;
    }

    .col-card {
        width: calc(100%/3);
        flex-direction: column;
        justify-content: start;
        padding: 5px;
    }

    .col-card >.row {
        align-items: start;
    }

    .col-card img {
        width: 100%;
        display: block;
        margin: auto;
    }

    .col-card .col-img {
        position: relative;
    }

    img.first {
        position: absolute;
    }

    .price {
        color: red;
        font-weight: bold;
    }

    .price .old {
        color: black;
        font-weight: normal;
        text-decoration: line-through;
    }

    /* STYLE LABELS */

        div.heart {
            background-color: white;
            position: absolute;
            top: 2%;
            right: 0;
        }

        div.labels {
            position: absolute;
            bottom: 8%;
        }

        .label {
            text-align: center;
            font-size: 18px;
            padding: 5px 8px;
            color: white;
        }

        .heart {
            padding: 15px 15px;
            color: black;
        }

        .sustainability {
            background-color: green;
        }

        .discount {
            background-color: red;
        }

    /* HOVER */

        .col-card.container:hover img.first{
            opacity: 0;
            transition: 0.5s;
        }

/* STYLE FOOTER */

    footer {
        background-color: rgba(26,26,26,255);
    }

    footer section {
        height: fit-content;
        padding-top: 3vh;
        padding-bottom: 3vh;
        color: white;
    }

    footer .container .row {
        justify-content: space-between;
    }

    .col.info {
        text-align: start;
        width: 50%;
        line-height: 25px;
    }

    .col.info span:not(:last-child) {
        padding-right: 3px;
        font-size: 15px;
    }

    .col.social {
        text-align: end;
        width: 15%;
    }
    
    .fa {
        padding: 3px;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        color: white;
    }

/* DEBUG */

.debug .container {
    border: dashed black 1px;
}

.debug .container .column *{
    border: dashed black 1px;
}